
body{
  background-color: rgb(224, 200, 200);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgb(54, 6, 99);
  font-weight: bolder;
  height: 1200px;
  background-color: rgb(161, 186, 194);
}

/* header */
header{
  display: flex;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(5, 4, 4);
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  height: 80px;
  z-index: 999;
}
nav ul{
  list-style: none;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}
nav ul li{
  margin: 0 8px 0 8px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 4px 0 4px;
}
nav ul li:hover{
  cursor: pointer;
  border-bottom: solid 2px #fff;
  color: rgb(216, 80, 80);
  transition: all 0.2s ease;
}
nav p{
  margin-left: 10px;
  background-image: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 92, 92)50%, rgb(255, 192, 192) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color:transparent;
  -webkit-text-fill-color: transparent;
}

button{
  margin-right: 10px;
  height: 30px;
  color: black;
  font-weight: bold;
  border: solid 1px grey;
  border-radius: 3px;
  white-space: nowrap;
}
button:hover{
  background-color: rgb(255, 101, 101);
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease ;
  transform: scale(1.015);
}
nav form{
  display: flex;
  align-items: center;
}
nav form i{
  padding-top: 5px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 20px;
  height: 24.5px;
  width: 30px;
  cursor: pointer;
  border: solid 1px grey;
}
nav input{
  height: 30px;
  width: 250px;
  margin-left: 10px;
  outline: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid grey;
}
nav input::placeholder{
  color: black;
  font-weight: bold;
}

div{
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
}
table{
empty-cells: hide;
border-collapse: separate;
border: solid 1px grey;
height: 300px;
width: 70%;
border-spacing: 10px 10px;
border-radius: 2px;
background-image: linear-gradient(to right, rgb(255, 163, 178) 0%, rgb(255, 175, 188) 20%, rgb(255, 190, 201)50%, rgb(255, 223, 228) 80%, rgb(255, 197, 207) 100%);
}
tr:nth-child(odd){
  background-color: rgb(128, 126, 126);
}
td:nth-child(even){
  background-color: rgb(151, 144, 144);
}
th{
  background-color: rgb(126, 123, 123);
}
main{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main input{
  height: 30px;
  width: 250px;
}
td{
  height: 40px;
  width: 40px;
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid grey;
}
td:hover{
  cursor: pointer;
  background-color: rgb(80, 80, 255);
  color: white;
  transition: all 0.3s ease;
  transform: scale(1.095);
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div a:first-child{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: grey;
  font-weight: bolder;
  font-size: 20px;
  height: 40px;
  border-radius: 50%;
  width: 40px;
}
div a:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 20px;
  background-color: grey;
  font-weight: bolder;
  font-size: 20px;
  height: 40px;
  border-radius: 50%;
  width: 40px;
}


  /* media query */
  @media only screen and (max-width: 390px){
    table{
      height: 100px;
      font-size: 11px;
      margin: 10px 0 10px 50px;
    }
    .table{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }
    table tr,
    table td ,
    table th{
      width: 15px;
      height: 15px;
    }
    button{
      display: none;
    }
  }
  @media only screen and (min-width: 391px) and (max-width:420px){
    table{
      height: 100px;
      font-size: 11px;
      margin: 10px 0 10px 10px;
    }
    .table{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }
    table tr,
    table td ,
    table th{
      width: 15px;
      height: 15px;
    }
    button{
      display: none;
    }
  }

  @media only screen and (max-width:800px){
    nav ul{
      margin-left: -50px;
  }
  }
  @media only screen and (max-width:744px){
    nav ul{
      display: none;
  }
  }
  @media screen and (min-width:421px) and (max-width:743px){
  table{
      height: 300px;
      font-size: 11px;
      margin: 10px 0 10px 0;
    }
    .table{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    table tr,
    table td ,
    table th{
      width: 15px;
      height: 15px;
    }
  }
